html, body, .holder, .centerThis {
	height: 100%;
}

.centerThis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
	margin-bottom: 10px;
}

.container {
	word-wrap: break-word;
}


.back {
	margin-top: 10px;
}


.loginImg {
	max-width: 100px;
	max-height: 100px;
}