<!-- 

<div class="container">
	    <div class="row">
	        <div class="col s12">
	            <h4>Shigoto Applied</h4>
	            <div>

					<input type="text" ng-model="search" class="form-control" placeholder="Search ..." />
					 

					<table class="hoverable bordered">
					 
					    <thead>
					        <tr>
					            <th class="text-align-center">Company Name</th>
					            <th class="text-align-center">Position</th>
					            <th class="text-align-center">Applied Link</th>
					            <th class="text-align-center">Date of Interview</th>
					            <th class="text-align-center">Comment</th>
					        </tr>
					    </thead>
					 
					    <tbody ng-init="getAll()">
					        <tr ng-repeat="shigoto in shigotos | filter: search | orderBy: 'id'">
					            <td class="text-align-center">{{ shigoto.companyName }}</td>
					            <td class="text-align-center">{{ shigoto.position }}</td>
					            <td class="text-align-center">{{ shigoto.appliedLink}}</td>
					            <td class="text-align-center">{{ shigoto.dateofInterview}}</td>
					            <td class="text-align-center">{{ shigoto.comment}}</td>
					            <td>
					                <a ng-click="editOne(shigoto.id)" class="waves-effect waves-light btn margin-bottom-1em">Edit</a>
					                <a ng-click="deleteOne(shigoto.id)" class="waves-effect waves-light btn margin-bottom-1em">Delete</a>
					            </td>
					        </tr>
					    </tbody>
					</table>
				</div>
	        </div> 
	    </div> 
	</div> -->

<div class="container">
<input type="text" ng-model="search" class="form-control" placeholder="Search ..." />
	<div class="bordered hoverable list" ng-repeat = "shigoto in shigotos | filter: search | orderBy: 'id'">
		<div class="divider"></div>
			<div class="container list">
				<p>Position: {{shigoto.position}}</p>
				<p>Company Name: {{shigoto.companyName}}</p>
				<p>Applied Link: {{shigoto.appliedLink}}</p>
				<p>Latest Date Contacted: {{shigoto.latestdateContacted}}</p>
				<p>Latest Date of Interview: {{shigoto.latestdateofInterview}}</p>
				<p>Comment: {{shigoto.comment}}</p>
				<a ng-href="#!/home/{{shigoto.id}}" class="waves-effect waves-light btn margin-bottom-1em">View</a>
			</div>
		<div class="divider"></div>
	</div>
</div>


